!!! 5
html(lang='en')
	head
		title Acton authentication example
	body
		h1 Acton authentication example
		p Navigate to
			ul
				li: a(href="/secure") Secure content
				li: a(href="/logout") Logout
