!!! 5
html(lang='en')
	head
		title Secure Page
	body
		h1 Hi, #{email}.
		p Navigate to
			ul
				li: a(href="https://pushp.us.webtask.io/connect?q=17x6MEp%2FAU%2BaaH6RqcGplWtfaDRy6NsL8VHYmWylfWnAGQNizfl47jIofmfFSWsPUF75WcIikmbOuzvBvF9aHF2bRSvfxLoqpHKvFJgPdG2n0DHQ%2B3s7qhdt1TUYJq6I") Zendesk
				li: a(href="/welcome") Welcome page
				li: a(href="/logout") Logout

script.
	var urlRed="#{url}";
	load('https://pushp.us.webtask.io/connect/setcookie?domain=' + window.location.host, function(xhr) {
	if(typeof urlRed != 'undefined' && urlRed != null && urlRed != '') window.location = urlRed;	
	});
	function load(url, callback) {
	var xhr;
	if(typeof XMLHttpRequest !== 'undefined') xhr = new XMLHttpRequest();
	else {
	var versions = ["MSXML2.XmlHttp.5.0", 
	"MSXML2.XmlHttp.4.0",
	"MSXML2.XmlHttp.3.0", 
	"MSXML2.XmlHttp.2.0",
	"Microsoft.XmlHttp"]
	for(var i = 0, len = versions.length; i < len; i++) {
	try {
	xhr = new ActiveXObject(versions[i]);
	break;
	}
	catch(e){}
	} // end for
	}
	xhr.onreadystatechange = ensureReadiness;
	function ensureReadiness() {
	if(xhr.readyState < 4) {
	return;
	}
	if(xhr.status !== 200) {
	return;
	}
	if(xhr.readyState === 4) {
	callback(xhr);
	}           
	}	
	xhr.open('GET', url, true);
	xhr.crossDomain = true;
	xhr.withCredentials = true;
	xhr.send('');
	}
